<?xml version="1.0" encoding="utf-8" ?>

<instancias>
  <Instancia PastaConfig="PRIMAVERA\\SG900" instancia ="1" empresa ="ACC" usuario="gmahota" password ="Accsys2011!" instanciaSql =".\PRIMAVERA" empresaSql ="PRIACC" usuarioSql="sa" passwordSql ="Accsys2011!"/>
</instancias>

<!--<instancias>
  <Instancia PastaConfig="PRIMAVERA\\SG900" instancia ="1" empresa ="MINASREB" usuario="accsys" password ="accsys2011" instanciaSql ="MNR-P-DB02\PRIMAVERAV810" empresaSql ="PRIMINASREB" usuarioSql="sa" passwordSql ="Accsys2011"/>

</instancias>-->

