<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMIT_MotoresErp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61570/MIT_MotoresErp.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMIT_MotoresErp"
                contract="Service_MIT_MotoresErp.IMIT_MotoresErp" name="BasicHttpBinding_IMIT_MotoresErp" />
        </client>
    </system.serviceModel>
</configuration>