<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutCode.Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <OutCode.Robot.Properties.Settings>
            <setting name="PDFDOCPATH" serializeAs="String">
                <value>w:\files\</value>
            </setting>
            <setting name="SIGNREADPATH" serializeAs="String">
                <value>w:\FILES\ToSIGN\</value>
            </setting>
            <setting name="SIGNDESTPATH" serializeAs="String">
                <value>w:\FILES\SIGNED\</value>
            </setting>
            <setting name="SENDMAILPATH" serializeAs="String">
                <value>w:\FILES\SENDMAIL\</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>0.1</value>
            </setting>
        </OutCode.Robot.Properties.Settings>
    </applicationSettings>
</configuration>