<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrimavera_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.253:8080/Primavera_Service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrimavera_Service"
                contract="ServicePrimavera.IPrimavera_Service" name="BasicHttpBinding_IPrimavera_Service" />
        </client>
    </system.serviceModel>
</configuration>
 